version: "3.9"

services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    volumes:
      - ./src/backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app
      - /app/node_modules
    restart: unless-stopped
    depends_on:
      - backend
